<p id="notice"><%= notice %></p>

<%= link_to "Upvote", [:upvote, @subclonnit, @post], remote: true, method: :post, id: 'upvote_link' %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
