<p id="notice"><%= notice %></p>

<%= link_to "Upvote",
    [:toggle_upvote, @subclonnit, @post],
    remote: true, method: :post, id: 'upvote_link',
    class: upvote_class(current_user, @post) %>

<%= link_to "Downvote",
    [:toggle_downvote, @subclonnit, @post],
    remote: true, method: :post, id: 'downvote_link',
    class: downvote_class(current_user, @post) %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
